<% if @todos.empty?%>
    <p>No todos found. Add a few below</p>
<% else %>
    <div class="todos">
        <div id="todo-list">
        <% @todos.each do |todo| %>
            <div class=todo>
                <%= todo.title %> 
                <%= form_with model: todo, url: "/#{todo.id}", method: :delete do |form| %>
                    <%= form.submit "x", class:"delete-button" %>
                <% end %>
            </div>
        <% end %>
        </div>  
    </div>
<% end %>

<%= form_with model: @todo, url: '/', method: :post, html:{class: "form"} do |form| %>
    <div class="field">
        <%= form.text_field :title, placeholder: "add a todo" %>
        <%= form.hidden_field :completed, value: false%>
    </div>
    <div class="actions">
        <%= form.submit "Add Todo", class: "button" %>
    </div>
<% end %>